:root {
  /* --background: #a6ade6; */
  /* --primary: #262a4c;
  --secondary: #2d325a; */
  --tertiary: #232741;
  --font-color: #d7d9e8;
}

body {
  background-color: #232741;
}

.box-detail img {
  border-radius: 100%;
}

.container {
  background-color: var(--primary);
  width: 100%;
  height: 100%;
  /* display: grid;
  place-items: center;
  border-radius: 15px; */
}

.boxes {
  -webkit-backdrop-filter: invert(0.7);
  backdrop-filter: blur(0.7);
  font-family: "Overpass", sans-serif;
  color: var(--font-color);
  display: grid;
  grid-template-columns: minmax(200px, 30%) 1fr;
  border-radius: 15px;
  margin: 1.25rem;
}

.left-side {
  background-color: #9ea0c0;
  border-radius: 15px 0 0 15px;
}

.right-side {
  background-color: #494c69;
  border-radius: 0 15px 15px 0;
}

.box-detail {
  margin: 1rem;
  display: grid;
  place-items: center;
}

.section1 {
  text-align: right;
}

.section2 {
  display: grid;
  grid-template-columns: 33% 70%;
}

.section2 .left {
  color: #474554;
}

.section1 b {
  color: #474554;
}

.box-education-timeline {
  background-color: #727493;
  margin: 1rem;
  display: grid;
  place-items: center;
  border-radius: 15px;
  box-shadow: 4px 4px 10px #232741;
}

.education-timeline-container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

.box-about-me {
  background-color: #727493;
  margin: 1rem;
  padding: 0.25rem;
  display: grid;
  place-items: center;
  border-radius: 15px;
  box-shadow: 4px 4px 10px #232741;
}

.box-about-me p {
  margin: 1rem;
}

.box-social-media {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  flex: 1 1 0.785rem;
  flex: 0 1 0.785rem;
  margin: 0.5rem;
}

.item img {
  height: 2rem;
  width: auto;
}

.item:hover {
  transform: scale(1.2);
}

.timeline-item {
  padding: 1em 1.5em 2em;
  position: relative;
  border-left: 2px solid #494c69;
}

.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-weight: 700;
  font-size: 0.785rem;
}
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
